<% custom_page_title('Sign up') %>
<div class="container py-4">
  <div class="col-12 col-md-6 mx-auto">
    <h2>Sign up</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <div class="row">
          <div class="col-12 col-md-6">
            <%= f.input :first_name, required: true %>
          </div>
          <div class="col-12 col-md-6">
            <%= f.input :last_name, required: true %>
          </div>
        </div>
        <%= f.input :biography, input_html: { rows: 10 } %>
        <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
        <div class="row">
          <div class="col-12 col-md-6">
            <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
          </div>
          <div class="col-12 col-md-6">
            <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
          </div>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "btn-primary" %>
        </div>
      <% end %>
      <hr>
      <%= render "devise/shared/links" %>
    </div>
  </div>
