<div class="col-12">
  <div class="row card-post mb-4">
    <div class="col-4 col-md-3 pe-0 card-post-thumbnail">
      <%= link_to post_path(post) do %>
        <picture>
          <source srcset="<%= cl_image_path post.thumbnail.key, width: 230, height: 230, crop: :fill, quality: 100 %> 1x, <%= cl_image_path post.thumbnail.key, width: 460, height: 460, crop: :fill, quality: 100 %> 2x" media="(max-width: 767.98px)">
          <source srcset="<%= cl_image_path post.thumbnail.key, width: 264, height: 176, crop: :fill, quality: 100 %> 1x, <%= cl_image_path post.thumbnail.key, width: 528, height: 352, crop: :fill, quality: 100 %> 2x" media="(min-width: 768px)">
          <%= cl_image_tag post.thumbnail.key, width: 264, height: 176, crop: :fill, quality: 100, alt: post.title %>
        </picture>
      <% end %>
    </div>
    <div class="col-8 col-md-9 card-post-content">
      <h3 class="card-post-title mb-3"><%= link_to post.title, post_path(post) %></h3>
      <div class="card-post-info">
        <% unless current_page?(root_path) %>
          <p class="fs-6"><%= excerpt(post.content) %></p>
        <% end %>
        <% unless current_controller?('authors') %>
          <span class="text-uppercase fw-bold">by <%= post.user.full_name %></span>
          <div class="d-inline post-separator"></div>
        <% end %>
        <time class="text-uppercase fw-light"><%= post.date %></time>
      </div>
    </div>
  </div>
</div>
