<%= javascript_pack_tag 'post' %>
<%= simple_form_for(@post) do |f| %>
  <div class="row">
    <div class="col-12 col-md-8">
      <%= f.input :title %>
      <%= f.input :content, input_html: { rows: 10, id: "post-editor" } %>
    </div>
    <div class="col-12 col-md-4">
      <%= f.input :thumbnail %>
      <%= f.button :submit, class: "btn-primary" %>
    </div>
  </div>
<% end %>
